<footer class="pb-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-7 mx-auto text-center">
                <span class="display-6 text-muted"><i class="fab fa-neos"></i>&nbsp;NuvelNews</span>
                <p class="mt-3 text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur fuga dolorem nisi nemo rerum optio vel porro
                    dolor facilis, expedita sapiente ducimus tenetur eaque nobis adipisci iste accusamus nulla totam!
                </p>
                <ul class="nav text-center text-sm-end justify-content-center mt-3 mt-md-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-muted">Cookies</a>
                    </li>
                </ul>
                <div class="mt-2 text-muted">
                    @2021 NuvelNews. All rights reserved
                </div>
            </div>
        </div>
    </div>
</footer>