<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
      <span class="navbar-brand mb-1 h1"><i class="fab fa-neos"></i>&nbsp;NuvelNews</span>
    </div>
</nav>

<main class="container">
    <br><br>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5" style="border-radius: 20px; padding: 10px; box-shadow: 5px 10px 18px;">
                <div class="card-header bg-danger">
                    <h3 class="display-5 text-white text-center"><i class="fab fa-battle-net"></i>&nbsp;Login Here</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="col-md-12 mb-4">
                            <input type="email" placeholder="Enter  Your Email" class="form-control">
                        </div>
                        <div class="col-md-12 mb-3">
                            <input type="password" placeholder="Enter Your Password" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-outline-danger">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-danger">
                    <a href="" class="text-white">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>