<main class="container">
    <br>
    <div class="card" style="border-radius: 30px; padding: 10px; box-shadow: 5px 10px 18px #888888;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../assets/image/pic12.jpg" height="650" class="card-img rounded-start" alt="news item image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title display-5">News Title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus,
                        rem ducimus dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus
                        dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste,
                        nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste, nostrum consectetur
                        quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse 
                        repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque 
                        aliquam hic laborum ipsa?
                    </p>

                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus,
                        rem ducimus dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus
                        dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste,
                        nostrum consectetur quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Odio esse repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste, nostrum consectetur
                        quis saepe itaque. Inventore eaque aliquam hic laborum ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse 
                        repudiandae porro fuga facere doloribus, rem ducimus dignissimos iste, nostrum consectetur quis saepe itaque. Inventore eaque 
                        aliquam hic laborum ipsa?

                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <h3>Comments</h3>
        <div class="col-md-8">
            <div class="my-4 d-flex">
                <img src="../assets/image/femaleAvatar.svg" class="rounded-circle float-start me-3" height="50" width="50" alt="">
                <div>
                    <div class="mb-2">
                        <h5>Jane Doe</h5>
                        <span class="text-muted">June 23, 2021 at 11:40 am</span>
                    </div>
                    <p style="background-color: #c0c6cc; padding: 10px; border-radius: 20px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat voluptatem, nobis numquam ad eius exercitationem sit. Molestias, eos. Molestiae consequatur deleniti iusto voluptatem nemo est aliquid magnam. Nisi, doloremque!
                    </p>
                </div>
            </div>
            <div class="my-4 d-flex">
                <img src="../assets/image/maleAvatar.svg" class="rounded-circle float-start me-3" height="50" width="50" alt="">
                <div>
                    <div class="mb-2">
                        <h5>Tom Dick</h5>
                        <span class="text-muted">June 23, 2021 at 11:40 am</span>
                    </div>
                    <p style="background-color: #c0c6cc; padding: 10px; border-radius: 20px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat voluptatem, nobis numquam ad eius exercitationem sit. Molestias, eos. Molestiae consequatur deleniti iusto voluptatem nemo est aliquid magnam. Nisi, doloremque!
                    </p>
                </div>
            </div>
            <div class="my-4 d-flex">
                <img src="../assets/image/femaleAvatar.svg" class="rounded-circle float-start me-3" height="50" width="50" alt="">
                <div>
                    <div class="mb-2">
                        <h5>Jane Doe</h5>
                        <span class="text-muted">June 23, 2021 at 11:40 am</span>
                    </div>
                    <p style="background-color: #c0c6cc; padding: 10px; border-radius: 20px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat voluptatem, nobis numquam ad eius exercitationem sit. Molestias, eos. Molestiae consequatur deleniti iusto voluptatem nemo est aliquid magnam. Nisi, doloremque!
                    </p>
                </div>
            </div>
            <div class="my-4 d-flex">
                <img src="../assets/image/maleAvatar.svg" class="rounded-circle float-start me-3" height="50" width="50" alt="">
                <div>
                    <div class="mb-2">
                        <h5>Tom Dick</h5>
                        <span class="text-muted">June 23, 2021 at 11:40 am</span>
                    </div>
                    <p style="background-color: #c0c6cc; padding: 10px; border-radius: 20px;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat voluptatem, nobis numquam ad eius exercitationem sit. Molestias, eos. Molestiae consequatur deleniti iusto voluptatem nemo est aliquid magnam. Nisi, doloremque!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <h3>Leave a Comment</h3>
                <small>Your email address will not be published</small>
                <form class="row g-3 mt-2">
                    <div class="col-md-6">
                        <input type="text" placeholder="Enter your name" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="email" placeholder="Enter your email" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Write your comment..." row="3"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary">Post Comment</button>
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</main>